pkgbase = deepin-wine-wechat
	pkgdesc = Tencent WeChat (com.wechat) on Deepin Wine For Archlinux
	pkgver = 2.9.0.123
	pkgrel = 1
	url = https://weixin.qq.com/
	install = deepin-wine-wechat.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = wine
	depends = wine-mono
	depends = wine-gecko
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-libldap
	conflicts = deepin-wechat
	source = https://mirrors.ustc.edu.cn/deepin/pool/non-free/d/deepin.com.wechat/deepin.com.wechat_2.6.8.65deepin0_i386.deb
	source = WeChatSetup-2.9.0.123.exe::https://dldir1.qq.com/weixin/Windows/WeChatSetup.exe
	source = run.sh
	source = reg.patch
	source = shadow.exe
	md5sums = fe31cf4f0f6186fc1c99adc1512f5305
	md5sums = 0f64e8d65338e8c136a825ed5b717d66
	md5sums = ee59ffc498b45598abe0e3aea03ca425
	md5sums = f264f961704f2aa1d480971b0e58617a
	md5sums = d83f1c3845f28abd81cbfd215089d3d8

pkgname = deepin-wine-wechat

