pkgbase = deepin-wine-wechat
	pkgdesc = Tencent WeChat on Deepin Wine(com.qq.weixin.deepin) For Archlinux
	pkgver = 3.6.0.18
	pkgrel = 1
	url = https://weixin.qq.com/
	install = deepin-wine-wechat.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = deepin-wine6-stable>=6.0.0.19-1
	depends = deepin-wine-helper>=5.1.30_1-1
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-libldap
	optdepends = noto-fonts-sc: display some Chinese characters
	optdepends = lib32-nvidia-utils: required for nvidia graphics card
	conflicts = deepin-wechat
	source = https://com-store-packages.uniontech.com/appstore/pool/appstore/c/com.qq.weixin.deepin/com.qq.weixin.deepin_3.4.0.38deepin6_i386.deb
	source = WeChatSetup-3.6.0.18.exe::https://dldir1.qq.com/weixin/Windows/WeChatSetup.exe
	source = https://community-packages.deepin.com/deepin/pool/main/o/openldap/libldap-2.4-2_2.4.47+dfsg.4-1+eagle_i386.deb
	source = https://community-packages.deepin.com/deepin/pool/main/c/cyrus-sasl2/libsasl2-2_2.1.27.1-1+dde_i386.deb
	source = run.sh
	md5sums = 6c4edb108a0593bab7a556a6c9e8a012
	md5sums = ec197a3d4300b09505d8cd8f1c18baf4
	md5sums = cf87ad9db0bf279ddf9e5c1dce64a716
	md5sums = 89b10711889f52ab0a386f37b4eb3212
	md5sums = 8e6efbeafa440e3614518e4260b974e5

pkgname = deepin-wine-wechat
