pkgbase = deepin-wine-wechat
	pkgdesc = Tencent WeChat (com.wechat) on Deepin Wine For Archlinux
	pkgver = 2.7.1.82
	pkgrel = 2
	url = https://weixin.qq.com/
	install = deepin-wine-wechat.install
	arch = x86_64
	license = custom
	depends = p7zip
	depends = wine
	depends = wine-mono
	depends = wine_gecko
	depends = xorg-xwininfo
	depends = wqy-microhei
	depends = lib32-alsa-lib
	depends = lib32-alsa-plugins
	depends = lib32-libpulse
	depends = lib32-openal
	depends = lib32-mpg123
	depends = lib32-libldap
	conflicts = deepin-wechat
	source = https://mirrors.ustc.edu.cn/deepin/pool/non-free/d/deepin.com.wechat/deepin.com.wechat_2.6.2.31deepin0_i386.deb
	source = https://dldir1.qq.com/weixin/Windows/WeChatSetup.exe
	source = run.sh
	source = reg.patch
	md5sums = c66a173fe6817afd898e0061d9eaf42e
	md5sums = b41f7944b030d617d0b2e7128a149796
	md5sums = fde92b4241744fdef161aef98cf8f28a
	md5sums = 35626e820e6790c230718b4dad6482f6

pkgname = deepin-wine-wechat

